<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finstagram</title>
</head>
<!-- Content goes in body -->
<body>
    <header>
        <p>Lawrence Lee</p>
        <p>Front End Web Developer</p>
    </header>

    <nav>
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </ul>
    </nav>
    <section>
        <h2>About Me</h2>
        <p></p>
    </section>
    
    <section>
        <h2>Projects</h2>
        <div>1</div>
        <div>2</div>
        <div>3</div>
    </section>
    <footer><p>info about me here...</p></footer>

    <img src="/public/images/2005_lexus_es-330_sedan_base_fq_oem_1_500.avif" alt="Lexus ES330 car">
</body>
</html>