<header>
    <h1>Sign Up</h1>
</header>
<main>
    <form method="post">
        <label for="username">Username</label>
        <input type="text" placeholder="Create your username" name="username">
        <label for="avatar">Avatar</label>
        <input type="text" placeholder="Enter your avatar url" name="avatar">

        # <input type="password" placeholder="Create your password" name="password">
        <button type="submit">Create New User</button>
    </form>
</main>