<header>
    <h1>User</h1>
</header>
<main>
        <div class="user-box">
            <img class="user-avatar" src="<%= user.avatar_url %>" alt="avatar">
        </div>
</main>
<%= erb[:"shared/footer", {locals:[name: "Larry", pagename: "Users"]}] %>